@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="https://20294495.fs1.hubspotusercontent-na1.net/hubfs/20294495/Email-Messages-for-Order-Confirmation-Page-v3.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Your order has been placed successfully! <br />
    </div>
</div> 